<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            This is the third page of instructions
        </p>


        <p>
			<img id="instruction3" class="displayed" src="" alt="Instruction3" />
        </p>
        <script type="text/javascript">
			/*pickpicture = function(){
				if (condition == 0){
					picture = "{{ server_location }}/static/images/pracinstruction3-1.PNG";
				} else{
					picture = "{{ server_location }}/static/images/pracinstruction3-2.PNG";
				};
			return picture;
			};*/
			if (condition == 0){
					document.getElementById("instruction3").src ="{{ server_location }}/static/images/pracinstruction3-1.png";
				} else{
					document.getElementById("instruction3").src ="{{ server_location }}/static/images/pracinstruction3-2.png";
			};
        </script>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
